import React, { FunctionComponent, ComponentProps } from "react";

import * as styles from "./{{pascalCase name}}.style";

interface IProps extends ComponentProps<"div">
{

}

const {{pascalCase name}}: FunctionComponent<IProps> = ({
  ...props
}) => (
  <div {...props} css={styles.wrapper}>

  </div>
);

export default {{pascalCase name}};
