import React, { FunctionComponent, ComponentProps } from "react";

import * as styles from "./{{pascalCase name}}.style";

const {{pascalCase name}}: FunctionComponent<ComponentProps<"div">> = ({ ...props }) => (
  <div {...props} css={styles.wrapper}>

  </div>
);

export default {{pascalCase name}};
